<h1> {{ 'worker.list' | translate }}</h1>

<div class="action-and-button flex ltSm:flex-col justify-between">

    <button nz-button nzType="primary" (click)="openWorkerForm()">
        {{ 'actions.addWorker' | translate }}
        <nz-icon nzType="plus"></nz-icon>
    </button>

</div>

<nz-table
  #table
  [nzFrontPagination]="false"
>
  <thead>
    <tr>
      <th
        nzColumnKey="lastName"
      >
        {{ 'worker.fields.lastName' | translate }}
      </th>
      <th
        nzColumnKey="firstName"
      >
        {{ 'worker.fields.firstName' | translate }}
      </th>

      <th
        nzColumnKey="job"
      >
        {{ 'worker.fields.job' | translate }}
      </th>

      <th
        nzColumnKey="plus"
      >
        {{ 'worker.fields.plus' | translate }}
      </th>
    </tr>
  </thead>

  <tbody>
  @for (worker of workers; track $index) {
    <tr>
      <td>{{ worker.lastName }}</td>
      <td>{{ worker.firstName }}</td>
      <td>{{ worker.job }}</td>
      <td>
        <button nz-button nzShape="circle" nz-dropdown [nzDropdownMenu]="menu">
          <nz-icon nzType="more" nzTheme="outline"></nz-icon>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="viewWorker(worker)">
              <nz-icon nzType="info-circle" nzTheme="outline"></nz-icon>
              {{ 'actions.view' | translate }}
            </li>

            <li nz-menu-item (click)="editWorker(worker)">
              <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
              {{ 'actions.edit' | translate }}
            </li>

            <li nz-menu-item (click)="deleteWorker(worker)">
              <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
              {{ 'actions.delete' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  }
</tbody>
</nz-table>

