<h1> {{ 'worker.list' | translate }}</h1>

<div class="action-and-button flex ltSm:flex-col justify-between">

    <a [routerLink]="['/', 'admin', 'users', 'new']" nz-button nzType="primary"
      >{{ getAddButtonName() }} <nz-icon nzType="down" nzType="plus"
    /></a>

</div>

<nz-table
  #table
  [nzData]="displayedData"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  [(nzPageSize)]="pageSize"
  [nzShowSizeChanger]="!displayAll"
  [nzPageSizeOptions]="paginationOptions"
  [nzPaginationType]="paginationType"
  [(nzPageIndex)]="pageIndex"
  [nzLoading]="isLoading"
  [nzShowTotal]="totalTemplate"
>
  <thead>
    <tr>
      <th
        nzColumnKey="lastName"
      >
        {{ 'worker.lastName' | translate }}
      </th>
      <th
        nzColumnKey="firstName"
      >
        {{ 'worker.firstName' | translate }}
      </th>

      <th
        nzColumnKey="job"
      >
        {{ 'worker.job' | translate }}
      </th>
    </tr>
  </thead>

  <tbody>
    @for (worker of workers; track $index) {
      <td>{{ worker.lastName }}</td>
      <td>{{ worker.firstName }}</td>
      <td>{{ worker.job }}</td>
      <td>
        <button nz-button nzShape="circle" nz-dropdown [nzDropdownMenu]="actions">
            <nz-icon nzType="down" nzType="more" />
        </button>
        <nz-dropdown-menu #actions="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>
                <a [routerLink]="['/', 'admin', 'users', user.id]">
                    <nz-icon nzType="down" nzType="info-circle" />
                    {{ 'actions.view' | translate }}
                </a>
                </li>

                <li nz-menu-item>
                <a [routerLink]="['/', 'workers', 'edit', worker.id]">
                    <nz-icon nzType="down" nzType="edit" />
                    {{ 'actions.edit' | translate }}
                </a>
                </li>
            
                <li nz-menu-item (click)="deleteWorker(worker)">
                <nz-icon nzType="down" nzType="delete" nzTheme="outline" />
                {{ 'actions.delete' | translate }}
                </li>
            
            </ul>
        </nz-dropdown-menu>
        </td>
    }
  </tbody>
</nz-table>

