.ant-table-thead tr th.ant-table-column-has-sorters:hover {
  background: orangered;
}

nz-table {
  background: white;
  tr.ant-table-row td {
    background-color: white;
  }
  .ant-table-filter-trigger:hover {
    color: white;
  }
  .ant-table-filter-trigger.active {
    color: red;
  }
}

nz-table.overflow {
  overflow-x: auto;
  .ant-spin-container {
    overflow-x: auto;
  }

  nz-pagination {
    position: sticky;
    left: 0;
  }
}

nz-table.sticky {
  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

nz-pagination.ant-table-pagination.ant-pagination {
  display: flex;
  flex-wrap: wrap;

  &:not(.mini) {
    padding: 0 2rem;
  }

  &.mini {
    padding: 0 1rem;
    .ant-pagination-total-text {
      width: 100%;
    }
  }
}

nz-pagination {
  &.ant-table-pagination.ant-pagination,
  &.align-left {
    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;

      .ant-pagination-total-text {
        display: flex;
        flex-grow: 1;
        min-height: 24px;
        height: unset;

        .pagination-total {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-grow: 1;
        }
      }
    }
  }
}

.action-and-button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.ant-table-content table {
  thead.ant-table-thead > tr {
    & > th,
    & > td {
      font-weight: bold;
    }
  }

  .name-col,
  a {
    font-weight: bold;
  }

  a[href^='tel:'] {
    white-space: nowrap;
  }
}

